<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :receive_admin_email, "Recieve Admin emails?" %><br/>
      <%= f.check_box :receive_admin_email %>
    </div>
  </div>
</div>
