<h1>Password Reset for <%= @user.fullname %></h1>

<p>
  To reset your password, click the URL below.
  <%= link_to "Reset Password", password_reset_url(@user.password_reset_token), :target => "_blank" %>
</p>
