<% if @task && @task.errors.any? %>
  <div>
    <%= pluralize(@task.errors.count, "error") %> prevented the task from being created:
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>