html, body {
  height: 100%;
}

body {
  padding-top: 50px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

#push, #footer {
  height: 50px;
}

#footer {
  color: #777;
}

#copyright {
  padding-top: 13px;
  padding-bottom: 12px;
}

.padding-top-20 {
  padding-top: 20px;
}

.form .first-control {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form .mid-control {
  margin-bottom: -1px;
  border-radius: 0;
}

.form .last-control {
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.form .control-btn {
  margin-bottom: 10px;
}

.feature > i {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-description {
  width: 100%;
}

.action-icon-push {
  width: 12px;
}

.vcenter {
  display: inline-block;
  vertical-align: baseline;
  float: none;
}