<div class="container">
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
        <th>Hours</th>
        <th>Subtotal</th>
        <th>Tax Amt</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @statements %>
    </tbody>
  </table>
</div>