<% if @project && @project.errors.any? %>
  <div>
    <%= pluralize( @project.errors.count, "error" ) %> prevented the project from being created:
    <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>