<% if @time_entry && @time_entry.errors.any? %>
  <div>
    <%= pluralize(@time_entry.errors.count, 'error') %>  prevented the time entry from being created:
    <ul>
      <% @time_entry.errors.full_messages do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>