<% content_for :head do %>
  <%= javascript_include_tag 'timesheet' %>
<% end %>

<div ng-controller="TimeEntriesCtrl">
  <script type="text/ng-template" id="confirmationModal.html">
    <div class="modal-header">
      <h3 class="modal-title">Clock Tower</h3>
    </div>
    <div class="modal-body">
      {{message}}
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>
  <script type="text/ng-template" id="alertModal.html">
    <div class="modal-header">
      <h3 class="modal-title">Clock Tower</h3>
    </div>
    <div class="modal-body">
        {{message}} <br/>
        <a ng-if='showUrl()' ng-href='/statements/{{url}}' target='_blank'>View Statement</a>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
  </script>

  <div class="jumbotron padding-top-20">
    <div class="container">
      <form ng-submit="createTimeEntry()">
        <div class="form-group row">
          <div class="col-md-3">
            <select name="task" class="form-control" data-placeholder="What are you working on?" ng-required="true" chosen="tasks" ng-model="task" ng-options="task.name for task in tasks">
              <option value></option>
            </select>
          </div>
          <div class="col-md-3">
            <select name="project" class="form-control" data-placeholder="Select project" ng-required="true" chosen="projects" ng-model="project" ng-options="project.name for project in projects">
              <option value></option>
            </select>
          </div>
          <div class="col-md-2">
            <p class="input-group">
              <input type="text" class="form-control" placeholder="Select date" datepicker-popup="{{dateFormat}}" ng-model="date" ng-required="true" show-weeks="true" min-date="minDate" max-date="maxDate" is-open="opened" datepicker-options="dateOptions" close-text="Close" readonly>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="toggleCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="col-md-2">
            <input type="number" ng-required="true" step="any" class="form-control" min="0" max="999" placeholder="Duration (Hours)" ng-model="duration">
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary btn-block control-btn" type="submit">Submit</button>
          </div>
        </div>
        <div>
          <input type="text" class="form-control" placeholder="Write your comments here" maxlength="255" ng-model="comments">
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="row" ng-show="totalHours">
      <div class='col-md-4'>
        <strong>Total Hours:</strong>
        <span>{{ totalHours }}</span>
        <span ng-show="moreEntries">(Only showing latest 25 entries)</span>
      </div>
      <div class="col-md-4 col-md-offset-4 text-right">
        <strong><%= link_to "View All Entries", time_entries_path %></strong>
      </div>

    </div>
    <accordion close-others="false">
      <accordion-group ng-repeat="entry in timeEntries" is-open="entry.isEditState" is-disabled="true" ng-class="{'fresh': entry.justCreated}">
        <accordion-heading>
          <div class="row">
            <div class="col-md-8">
              <div class="col-md-4">
                {{entry.task.name}}
              </div>
              <div class="col-md-4">
                {{entry.project.name}}
              </div>
              <div class="col-md-4">
                <div class="col-md-9">{{formatViewDate(entry.date)}}</div>
                <div class="col-md-3">{{entry.duration_in_hours}}</div>
              </div>
            </div>
            <div class="col-md-3">
              {{entry.comments}}
            </div>
            <div class="col-md-1">
              <div class="col-md-6">
                <div class="action-icon-push" ng-hide="entry.isHover"></div>
                <a href ng-click="enterEditState(entry)" ng-hide="entry.isEditState"><i class="fa fa-pencil fa-1x"></i></a>
              </div>
              <div class="col-md-6">
                <div class="action-icon-push" ng-hide="entry.isHover"></div>
                <a href ng-click="deleteTimeEntry(entry)"><i class="fa fa-times fa-1x"></i></a>
              </div>
            </div>
          </div>
        </accordion-heading>
        <div class="form-group row">
          <div class="col-md-3">
            <select name="task" class="form-control" chosen="tasks" ng-required="true" ng-model="entry.newTask" ng-options="task.name for task in tasks track by task.id">
            </select>
          </div>
          <div class="col-md-3">
            <select name="project" class="form-control" chosen="projects" ng-required="true" ng-model="entry.newProject" ng-options="project.name for project in projects track by project.id">
            </select>
          </div>
          <div class="col-md-2">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="entry.newDate" min-date="minDate" max-date="maxDate" is-open="entry.calendarOpen" close-text="Close" show-weeks="true" readonly>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="toggleCalendar($event, entry)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="col-md-2">
            <input type="number" step="any" class="form-control" min="0" max="999" placeholder="Duration (Hours)" ng-model="entry.newDuration">
          </div>
          <div class="col-md-2">
            <div class="col-md-6">
              <button class="btn btn-primary btn-block control-btn btn-success" ng-click="saveEntry(entry)"><i class="fa fa-save fa-1x"></i></button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-primary btn-block control-btn btn-danger" ng-click="cancelEdit(entry)"><i class="fa fa-undo fa-1x"></i></button>
            </div>
          </div>
        </div>
        <div>
          <input type="text" class="form-control"  maxlength="255" placeholder="Write your comments here" ng-model="entry.newComments">
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
