<h1>Users</h1>

<%= render 'layouts/show_alert' %>

<%= render 'layouts/show_notice' %>

<%= link_to "Create new user", new_admin_user_path %>

<% if @users && @users.any? %>
  <table>
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Admin?</th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
<% else %>
  <div>No users</div>
<% end %>