<div class="jumbotron report-options">
  <div class="container">
    <h2 class='text-center'>
      <%= @statement.user.fullname %>
    </h2>
    <h3 class='text-center'>
      <%= @statement.from.to_s(:humanly) %> - <%= @statement.to.to_s(:humanly) %>
    </h3>
  </div>
</div>
<div class="container">
  <%= render 'entries', entries: @entries %>  
</div>
