<% if @user && @user.errors.any? %>
  <div>
    <%= pluralize( @user.errors.count, "error" ) %> prevented the account from being created:
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>